<div class="footer bg-primary text-center">
  <br>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="http://www.facebook.com/alvaro.guinda" class="text-white" target="_blank">
            <i style="font-size:36px" class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item align-text-bottom">
          <i style="font-size: 4px" class="text-white fa fa-circle"></i>
        </li>
        <li class="list-inline-item">
          <a href="http://www.instagram.com/alvaroguinda" class="text-white" target="_blank">
            <i style="font-size:36px" class="fa fa-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item align-text-bottom">
          <i style="font-size: 4px" class="text-white fa fa-circle"></i>
        </li>
        <li class="list-inline-item">
          <a href="http://www.youtube.com/c/AlvaroGuindaRivero" class="text-white" target="_blank">
            <i style="font-size:36px" class="fa fa-youtube"></i>
          </a>
        </li>
        <li class="list-inline-item align-text-bottom">
          <i style="font-size: 4px" class="text-white fa fa-circle"></i>
        </li>
        <li class="list-inline-item">
          <a href="http://www.twitter.com/alvaroguinda" class="text-white" target="_blank">
            <i style="font-size:36px" class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item align-text-bottom">
          <i style="font-size: 4px" class="text-white fa fa-circle"></i>
        </li>
        <li class="list-inline-item">
          <a href="http://www.github.com/alvaroguinda" class="text-white" target="_blank">
            <i style="font-size:36px" class="fa fa-github"></i>
          </a>
        </li>
        <li class="list-inline-item align-text-bottom">
          <i style="font-size: 4px" class="text-white fa fa-circle"></i>
        </li>
        <li class="list-inline-item">
          <a href="http://www.linkedin.com/in/alvaroguinda" class="text-white" target="_blank">
            <i style="font-size:36px" class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>&copy; Alvaro Guinda 2017</p>
    </div>
  </div>
</div>