<div class="card text-white">
    <div class="card-body">
      <blockquote class="card-blockquote text-center">
        <h1 class="display-3">"Believe in yourself. You can do great things"</h1>
        <footer class="blockquote-footer">Alvaro Guinda Rivero</footer>
      </blockquote>
    </div>
  </div>

  <div class="container bg-light">
      <div class="row">
        <div class="col-md-6">
          <img style="width: 100%; display: block" src="http://alvaroguinda.com/assets/img/IMG-20170409-WA0000.jpg" alt="https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" />
        </div>
        <div class="col-md-6 text-white">
          <br>
          <h3>Welcome to my site!</h3>
          <p>Since Feb 11, 1987 all my live has beed dedicated to improve my knowledge and my skills.
            From a young age, I always try to discover how the things work and how are made.
            That fact converts me on a creative and resolutive person.</p>
          <p>During my Informatics Engineering studies at Facultad de Informática de Barcelona (FIB) 
            I become a mind-structured person with highly potential for analytical thinking.</p>
        </div>
      </div>
    </div>